* {
  box-sizing: border-box;
}
body,html{
  padding:0;
  margin:0;
}
.wrapper {
  width: 70%;
  margin: 4% auto;
}

.header {
  text-align: center;
}

.logo img{
  width: 50px;
}

.main-conntainer {
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px 10px;
}
.new-card-form{
  text-align: center;
  margin-bottom: 10px;
  background-color: #ebebeb;
  padding: 2px 0px 30px 0px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
}

.to-do-card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.to-do-card {
  border: 1px solid #ddd;
  margin: 5px;
  box-sizing: border-box;
  padding: 10px;
  width: 150px;
  border-radius: 4px;
  background-color: #fefefe;
  box-shadow: 0px 1px 2px #dddddda1;

  display: flex;
  flex-direction: column;
}
.to-do-card .title{
  font-size: 12px;
  font-weight: 600;
  color: #154e5d;
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 5px 0;
}
.to-do-card form{
  margin-top:auto;
}
.to-do-card .to-do-card-input{
  width: 100%;
}

.to-do-list{
  margin: 5px 0;
}
.to-do-list-item{
  font-size: 10px;
  padding: 3px 0;
}
.to-do-list-item:hover {
  background-color: #ebebeb;
  cursor: pointer;
  text-decoration: line-through;
  border-radius: 2px;
}
.list-item-complete{}
.list-item-incomplete{
  text-decoration: line-through;
} 
